* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 28px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1;
}

@media screen and (min-width: 250px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background: #1BA0AC;
        position: relative;
    }
    .top-background-image {
        background-image: url("../images/bg-pattern-top.svg");
        width: 50vw;
        height: 70vh;
        transform: rotate(180deg);
        position: fixed;
        top: 0;
        left: 0;
    }
    .bottom-background-image {
        background-image: url("../images/bg-pattern-bottom.svg");
        width: 60vw;
        height: 60vh;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .card {
        width: 85%;
        height: 60vh;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: column;
        position: relative;
        z-index: 6;
        overflow: hidden;
    }
    .top-card {
        height: 35%;
    }
    .middle-card {
        height: 45%;
        font-size: 0.8rem;
    }
    .bottom-card {
        height: 20%;
    }
    .top-card {
        background: url("../images/bg-pattern-card.svg");
        position: relative;
    }
    .middle-card {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-image {
        height: auto;
        position: relative;
        top: -70px;
        width: 120px;
        padding: 5px;
        background: white;
        border-radius: 50%;
    }
    .user-image img {
        width: 100%;
        border-radius: 50%;
    }
    .user-name, .user-location {
        position: relative;
        top: -50px;
    }
    .user-name {
        font-weight: bold;
    }
    .user-name span {
        color: gray;
        margin-left: 5px;
        font-weight: lighter;
    }
    .user-location {
        color: gray;
        margin-top: 10px;
    }
    .bottom-card {
        border-top: 1px solid rgba(128, 128, 128, 0.1);
        background: white;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 30px;
    }
    .bottom-card>* {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom-card>*>* {
        margin-bottom: 5px;
    }
    .bottom-card small {
        letter-spacing: 1px;
    }
    .bottom-card small {
        color: gray;
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 600px) {
    .card {
        width: 50%;
        border-radius: 10px;
    }
    .top-card {
        height: 33%;
    }
    .middle-card {
        height: 33%;
    }
    .bottom-card {
        height: 33%;
    }
}

@media screen and (min-width: 750px) {
    .card {
        width: 40%;
    }
    .bottom-background-image {
        right: -150px;
    }
}

@media screen and (min-width: 1000px) {
    .card {
        width: 25%;
    }
    .top-background-image {
        top: -130px;
        left: -100px;
    }
    .bottom-background-image {
        bottom: -100px;
        right: -400px;
    }
    .middle-card {
        font-size: 1rem;
    }
    .bottom-card {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1600px) {
    .top-background-image {
        top: -130px;
        left: -100px;
    }
    .bottom-background-image {
        bottom: -100px;
        right: -400px;
    }
}

@media screen and (min-width: 1850px) {
    .top-background-image {
        left: -90px;
    }
    .bottom-background-image {
        right: -600px;
    }
}

@media screen and (min-width: 2200px) {
    .top-background-image {
        top: -390px;
        left: -590px;
    }
    .bottom-background-image {
        bottom: -60px;
        right: -950px;
    }
}